body {
  margin: 0;
  padding: 0;
  font-family: 'Garamond', serif;
}

.container {
  display: flex;
  width: 70%; /* 100% - 20% left margin - 20% right margin */
  margin: 50px auto 0; /* Center the container */
}

.column {
  padding: 0px;
}
.column-1 {
  flex: 0 0 40%; /* 40% width */
}

.column-2 {
  flex: 0 0 60%; /* 60% width */
}
a {
  text-decoration: none;
  color: blue; /* Optional: Set a custom color for links */
}
/* Add hover effect for better UX */
a:hover {
  text-decoration: underline;
}

.ImgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

