body {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
  color: #333;    
  background-color: #fff;
}



.container {
  display: flex;
  width: 90%; /* 100% - 10% left margin - 10% right margin */
  margin: 20px auto 0; /* Center the container */
}

.column {
  padding: 0px;
}
.column-1 {
  flex: 0 0 30%; /* 30% width */
}

.column-2 {
  flex: 0 0 70%; /* 70% width */
}
.column-A {
  flex: 0 0 50%; /* 50% width */
}

.column-B {
  flex: 0 0 50%; /* 50% width */
}
.column-C {
  flex: 0 0 100%; /* 50% width */
}
a {
  text-decoration: none;
  color: blue; /* Optional: Set a custom color for links */
}
/* Add hover effect for better UX */
a:hover {
  text-decoration: underline;
}

.ImgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

